.header {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full screen height */
  overflow: hidden;
  padding-top: 100px;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: 0;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 25%;
  left: 6vw;
  z-index: 1;
  animation: fadeIn 3s;
}

.header-contents h2 {
  color: white;
  font-weight: 500;
  font-size: max(4.1vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 22px);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-contents button:hover {
  background-color: #f0f0f0;
}

/* Responsiveness */
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header {
    height: 100vh; 
  }

  .header-contents {
    max-width: 65%;
    bottom: 65%;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
